body {
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh; }

.heart {
  --size: 200px;
  background: #e61a1a;
  width: var(--size);
  height: var(--size);
  position: relative;
  -webkit-animation-name: beat;
  animation-name: beat;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  .heart:before, .heart:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
    top: -50%; }
  .heart:after {
    top: 0;
    right: -50%; }
  .heart:hover {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    background: red; }

@-webkit-keyframes beat {
  to {
    -webkit-transform: rotate(-45deg) scale(1.2);
    transform: rotate(-45deg) scale(1.2); } }

@keyframes beat {
  to {
    -webkit-transform: rotate(-45deg) scale(1.2);
    transform: rotate(-45deg) scale(1.2); } }
